# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
*.ipr
*.iws

# Eclipse
.project
.classpath
.settings/

# Maven
target/
dependency-reduced-pom.xml
pom.xml.versionsBackup
.factorypath

# Gradle
.gradle/
build/

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
.jython_cache/

# system ignore
.DS_Store
Thumbs.db

